<nav id="container" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pint! On Rails</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li class="active"><a href=<%=welcome_index_path%>>Home</a></li>
        <li><a href=<%=pints_path%>>All Pints</a></li>
        <li><a href=<%=new_pint_path%>>New Pints</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="filtrar">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Filtrar" style="border-radius: 5px; height:32px;">
          </div>
          <button type="submit" class="btn btn-success" style="border-radius: 5px">Search</button>
        </div>
        
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        <li><a href="#">SignUp</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>