/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	padding-top: 5em;
}

.tag{
	margin-bottom: 0px;
}

.crud{
	text-align: center;
}

.crud a{
	color: #F7CA18;
	text-decoration: none;
	margin: 0em 0.2em;
}

a:hover{
	color: #F89406;
	text-decoration: none;
	background: none;
}

/*_image.html.erb*/

.imagen .thumbnail{
	padding: 1em 1em;
	/*margin: 1em 1em;*/
	display: inline-block;
	text-align: center;
	vertical-align: top;
}


.imagen #biografia{
	text-align: justify;

	
}
